ProyectoFinal/ProyectoFinal/src/conf/xml-resources/web-service-references/WS_Votar/wsdl/localhost_8080/ProyectoFinal_WS_Votar/WS_Votar.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws_votar/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws_votar/">

<xs:element name="votar" type="tns:votar"/>

<xs:element name="votarResponse" type="tns:votarResponse"/>

<xs:complexType name="votar">
<xs:sequence>
<xs:element name="clvAlumno" type="xs:string" minOccurs="0"/>
<xs:element name="clvContienda" type="xs:string" minOccurs="0"/>
<xs:element name="clvProyecto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="votarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>