ProyectoFinal/ProyectoFinal/src/conf/xml-resources/web-service-references/WS_Alta/wsdl/localhost_8080/ProyectoFinal_WS_All/WS_Alta.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws_alta/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws_alta/">

<xs:element name="registrarProyecto" type="tns:registrarProyecto"/>

<xs:element name="registrarProyectoResponse" type="tns:registrarProyectoResponse"/>

<xs:complexType name="registrarProyecto">
<xs:sequence>
<xs:element name="clvContienda" type="xs:string" minOccurs="0"/>
<xs:element name="nomProye" type="xs:string" minOccurs="0"/>
<xs:element name="descCorta" type="xs:string" minOccurs="0"/>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarProyectoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>